a:link {
    color:#6495ed;
    background-color:transparent;
    text-decoration:none
}
a:visited {
    color:#6495ed;
    background-color:transparent;
    text-decoration:none
}
a:hover {
    color:#6495ed;
    background-color:transparent;
    text-decoration:none
}
a:active {
    color:#6495ed;
    background-color:transparent;
    text-decoration:none
}